:root {
  --color-blue: #108fe3;
  --color-gray: #6e7275;
  --color-bgroud-white: #eff8ff;
}
* {
  font-family: arial;
}
body {
  margin: 0px;
}
h2 {
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 3.1rem;
  color: #293145;
}
h3 {
  font-size: 1.1rem;
}

.fonte-desfocada {
  color: var(--color-gray);
  font-size: 1.1rem;
}
p {
  color: #fff;
  font-size: 1.1rem;
}
.font_precos {
  font-size: 1.4rem;
}

/*NAVIGATION*/
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 5vw;
  margin-right: 5vw;
  background-color: #fff;
  height: 10vh;
}
.header__menu__list {
  display: flex;
  gap: 3rem;
}
.header__menu__list__item {
  list-style-type: none;
  margin-left: 1rem;
  font-size: 1rem;
  color: #6e7275;
}

/*BANNER*/
.container__banner {
  background-color: #eff8ff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 92vh;
  box-sizing: border-box;
}
.banner {
  padding: 2.3rem 1.25rem;
}
.banner__text__title {
  font-weight: 600;
  font-size: 3rem;
  line-height: 3.75rem;
  color: #293145;
}
.banner__btn {
  box-sizing: border-box;
  background-color: var(--color-blue);
  color: #fff;
  border: none;
  padding: 1.1rem 2.25rem;
  width: 12.5rem;
  height: 3rem;
  border-radius: 3rem;
  font-weight: bolder;
  font-size: 1rem;
}
@media only screen and (max-width: 900px) {
  .container__banner {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
  }
  .banner__image {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/*SERVICOS*/
.servicos {
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  padding-top: 2rem;
  padding-bottom: 6rem;
}

.servicos__titulo {
  text-align: center;
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 2.5rem;
  color: #293145;
}

.servicos__options-services {
  display: flex;
  justify-content: space-around;
}

.servicos__options-service__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}
.servicos__options-service__item__title {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.4rem;
  color: #293145;
  margin-bottom: 0;
}
.servicos__options-service__item__description {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.6rem;
  color: #6e7275;
  margin-top: 0;
}
@media only screen and (max-width: 900px) {
  .servicos__options-services {
    flex-direction: column;
    height: auto;
  }
  .servicos {
    height: auto;
  }
}

/*DOWNLOADS*/
.download {
  background-color: #eff8ff;
  height: 60vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  padding-top: 15rem;
  padding-bottom: 15rem;
}

.download__text-container__titulo {
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.5rem;
  color: #293145;
}
.download__text-container__descricao {
  color: #6e7275;
}
.download__options {
  margin-top: 1rem;
}
.download__options__image {
  margin-right: 0.8rem;
}
@media only screen and (max-width: 900px) {
  .download {
    flex-direction: column;
    height: auto;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .download__container-ilustration {
    display: none;
  }
  .download__text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .download__options {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }
}

/*PLANOS*/
.planos {
  background-color: #fff;
  padding-bottom: 8rem;
  padding-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  box-sizing: border-box;
  width: 100%;
}
.planos__text-container {
  text-align: center;
}
.planos__text-container__titulo {
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 3rem;
  color: #293145;
}
.planos__text-container__descricao {
  font-size: 1rem;
  line-height: 1.5rem;
  color: #6e7275;
}

.planos__card-container__card__head__clase {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.8rem;
  color: #293145;
}
.planos__card-container__card__head__valor {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 3.6rem;
  color: #293145;
}
.planos__card-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.planos__card-container__card {
  height: 29rem;
  width: 30vw;
  padding: 2rem;
  background-color: #eff8ff;
  margin-right: 0.6rem;
  border-radius: 0.6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
}
.planos__card-container__card:nth-child(2) {
  background-color: #464f65;
}
.planos__card-container__card__container-descricao__descricao {
  color: #6e7275;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.5rem;
}
.planos__card-container__card__container-btn__btn {
  background-color: var(--color-blue);
  border: none;
  padding: 0.5rem 5rem;
  width: 14rem;
  height: 2.6rem;
  color: #fff;
  border-radius: 3rem;
  width: 14rem;
  font-size: 1rem;
}
.card-especial {
  color: #fff;
}
.card-especial-descricao {
  color: #dbdbdb;
}
@media only screen and (max-width: 900px) {
  .planos__card-container {
    flex-direction: column;
    height: auto;
    align-items: center;
    width: 100vw;
  }
  .planos__card-container__card {
    width: 80vw;
  }
}

/*CONTATO*/
.contato {
  height: 65vh;
  background: url("images/contact-background.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  gap: 2rem;
}
.contato__titulo {
  color: #fff;
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 3rem;
}
.contato__descricao {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #dbdbdb;
}
.contato__input-container {
  width: 100%;
}

.contato__input {
  height: 2rem;
  width: 25%;
  border: none;
  border-bottom: 1px solid #fff;
  background-color: transparent;
  font-size: 1rem;
  color: #fff;
  margin-right: 2rem;
}
.contato__input:focus {
  outline: none;
}

.contato__button {
  border: none;
  background-color: var(--color-blue);
  color: #fff;
  padding: 0.5rem 2rem;
  width: 7rem;
  height: 2.3rem;
  border-radius: 3rem;
  font-size: 1rem;
}
@media only screen and (max-width: 900px) {
  .contato__input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .contato__input {
    width: 80%;
  }
  .contato__button {
    width: 60%;
  }
}

/*RODAPE*/
.rodape {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rodape a {
  text-decoration: none;
  color: var(--color-blue);
  font-weight: bold;
}