:root {
  --color-blue: #108fe3;
  --color-gray: #6e7275;
  --color-bgroud-white: #eff8ff;
}
* {
  font-family: arial;
}
body {
  margin: 0px;
}
h2 {
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;
  color: #293145;
}
h3 {
  font-size: 18px;
}

.fonte-desfocada {
  color: var(--color-gray);
  font-size: 18px;
}
p {
  color: #fff;
  font-size: 18px;
}
.font_precos {
  font-size: 1.4rem;
}

/*NAVIGATION*/
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 135px;
  margin-right: 135px;
  background-color: #fff;
  height: 10vh;
}
.header__menu__list {
  display: flex;
  gap: 66px;
}
.header__menu__list__item {
  list-style-type: none;
  margin-left: 1rem;
  font-size: 16px;
  color: #6e7275;
}

/*BANNER*/
.container__banner {
  background-color: #eff8ff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 92vh;
  box-sizing: border-box;
}
@media only screen and (max-width: 900px) {
  .container__banner{
    flex-direction: column;
    height: auto;
  }
}
.banner {
  padding: 38px 20px;
}
.banner__text__title {
  font-weight: 600;
  font-size: 48px;
  line-height: 60px;
  color: #293145;
}
.banner__btn {
  box-sizing: border-box;
  background-color: var(--color-blue);
  color: #fff;
  border: none;
  padding: 1.1rem 2.25rem;
  width: 200px;
  height: 56px;
  border-radius: 50px;
  font-weight: bolder;
  font-size: 1rem;
}

/*SERVICOS*/
.servicos {
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 1.5rem;
  box-sizing: border-box;
  padding-top: 10rem;
  padding-bottom: 15rem;
}

.servicos__titulo {
  text-align: center;
  font-weight: 600;
  font-size: 40px;
  line-height: 40px;
  color: #293145;
}

.servicos__options-services {
  display: flex;
  justify-content: space-around;
}
@media only screen and (max-width: 900px) {
  .servicos__options-services{
    flex-direction: column;
    height: auto;
  }
  .servicos{
    height: auto;
  }
}
.servicos__options-service__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.servicos__options-service__item__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  color: #293145;
}
.servicos__options-service__item__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #6e7275;
}

/*DOWNLOADS*/
.download {
  background-color: #eff8ff;
  height: 60vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  padding-top: 15rem;
  padding-bottom: 15rem;
}
@media only screen and (max-width: 900px) {
  .download{
    flex-direction: column;
    height: auto;
  }
  .download__container-ilustration{
    display: none;
  }
}
.download__text-container__titulo {
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  color: #293145;
}
.download__text-container__descricao {
  color: #6e7275;
}
.download__options {
  margin-top: 1rem;
}
.download__options__image {
  margin-right: 0.8rem;
}

/*PLANOS*/
.planos {
  background-color: #fff;
  padding-bottom: 130px;
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  box-sizing: border-box;

}
.planos__text-container {
  text-align: center;
}
.planos__text-container__titulo {
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;
  color: #293145;
}
.planos__text-container__descricao {
  font-size: 18px;
  line-height: 25px;
  color: #6e7275;
}

.planos__card-container__card__head__clase {
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: #293145;
}
.planos__card-container__card__head__valor {
  font-weight: 700;
  font-size: 30px;
  line-height: 59px;
  color: #293145;
}
.planos__card-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
@media only screen and (max-width: 900px) {
  .planos__card-container{
    flex-direction: column;
    height: auto;
    align-items : center;
  }
  .planos__card-container__card{
    width: 80vw;
  }
}
.planos__card-container__card {
  height: 470px;
  width: 30vw;
  padding: 2rem;
  background-color: #eff8ff;
  margin-right: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
}
.planos__card-container__card:nth-child(2) {
  background-color: #464f65;
}
.planos__card-container__card__container-descricao__descricao {
  color: #6e7275;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}
.planos__card-container__card__container-btn__btn {
  background-color: var(--color-blue);
  border: none;
  padding: 8px 80px;
  width: 230px;
  height: 43px;
  color: #fff;
  border-radius: 50px;
  width: 230px;
  font-size: 18px;
}
.card-especial{
    color: #fff;
}
.card-especial-descricao{
    color: #DBDBDB;
}

/*CONTATO*/
.contato {
  height: 65vh;
  background: url("images/contact-background.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  gap: 2rem;
}
.contato__titulo {
  color: #fff;
  font-weight: 600;
  font-size: 40px;
  line-height: 50px;
}
.contato__descricao {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #dbdbdb;
}
.contato__input-container {
  width: 100%;
}

.contato__input {
  height: 2rem;
  width: 25%;
  border: none;
  border-bottom: 1px solid #fff;
  background-color: transparent;
  font-size: 1rem;
  color: #fff;
  margin-right: 2rem;
}
.contato__input:focus {
  outline: none;
}

.contato__button {
  border: none;
  background-color: var(--color-blue);
  color: #fff;
  padding: 8px 32px;
  width: 118px;
  height: 38px;
  border-radius: 50px;
  font-size: 16px;
}

/*RODAPE*/
.rodape {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rodape a {
  text-decoration: none;
  color: var(--color-blue);
  font-weight: bold;
}
